<header .vw-100 >
    <div class="contenedorLogo">
        <img src="/img/logo.png" alt="logo">
    </div>
    <div class="contenedorH1">
        <h1>
            Tech Argon
        </h1>
    </div>
    <div class="contenedorMenu">
        <span class="linea1 span"></span>
        <span class="linea2 span"></span>
        <span class="linea3 span"></span>
    </div>
</header>

<div class="menuDesplegado">
        <div class="contendorBuscador">
            <img src="/img/busqueda.svg" alt="">
            <input type="text" placeholder="Search...">
        </div>
        <div class="contenedorLinks">
            <div class="contenedorSpan">
                <a href="#">Computadoras</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Portatiles</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Estiliza tu setup</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Software</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Hardware</a>
                <span></span>
            </div>
        </div>
    </div><div class="menuDesplegado">
        <div class="contendorBuscador">
            <img src="/img/busqueda.svg" alt="">
            <input type="text" placeholder="Search...">
        </div>
        <div class="contenedorLinks">
            <div class="contenedorSpan">
                <a href="#">Computadoras</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Portatiles</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Estiliza tu setup</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Software</a>
                <span></span>
            </div>
            <div class="contenedorSpan">
                <a href="#">Hardware</a>
                <span></span>
            </div>
        </div>
    </div>