<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Administración</title>
  </head>
  <!--Include header-->
      <%- include('../partials/header') %>
  
  <body>
    
    <div class="menu-">
    <div class="button-c">
    <a href="/products/allproducts"
      ><button type="submit" class="button-create">All Products</button></a
    >
    </div>
    <div class="button-c">
    <a href="/products/create"
      ><button type="submit" class="button-create">Create Products</button></a
    >
    </div>
    </div>
  </body>
  <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
</html>
