<!DOCTYPE html>
<html lang="en">
<head>
        <!--Include head-->
        <%- include('../partials/head') %> 
        <title>Argon | Carga</title>
</head>
<body>
    <header>
        <!--Include header-->
     <%- include('../partials/header') %>
     </header>

    <section class="contenedorForm">
        <h2>Carga tus productos</h2>
        <div class="erroresCarga">
            <ul>

            </ul>
          </div>

        <form action="" method="POST" enctype="multipart/form-data" accept="imagen/*" class="create"></form>
        
            <h4>Carga de productos</h4>
            <label for="producto">Nombre del producto</label>
            <input class="text-danger nombre" type="text" placeholder="Nombre del producto" name="nombre" id="nombre">

            <label  for="descripción">Descrpción</label>
            <input class="text-danger desc" type="text" placeholder="Descripción" name="desc" id="desc">

            <label for="imagen">Suba una imagen</label>
            <input class="img" type="file" placeholder="Imagen" name="img" id="img">

            <label for="gama">Gama</label>
            <select name="gama" id="gama">
              <option value="baja" selected>Baja</option>
              <option value="media">Media</option>
              <option value="alta">Alta</option>
            </select>

            <label for="ram">Memoria/s RAM</label>
            <input class="text-danger ram" type="text" placeholder="DDR3, DDR4, DDR5..." name="ram" id="ram">

            <label for="slots">Slots</label>
            <input class="text-danger slots" type="text" placeholder="2, 4..." name="slots" id="slots">
            
            <label for="sockets">Sockets</label>
            <input class="text-danger sockets" type="text" placeholder="1700, am4..." name="sockets" id="sockets">

            <label for="precio">Precio</label>
            <input class="precio" type="text" placeholder="precio" name="precio" id="precio">
            <button type="text-danger submit" value="registrarse" class="btn-regis">
                Vaciar
              </button>
            <button type="submit" value="cargar" class="btn-regis" id="create">
                Cargar
              </button>
        </form>
    </section>
    <footer>
            <!--Include Footer-->
    <%- include('../partials/footer') %> 
    </footer>
</body>
</html>