<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Carga</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <section class="contenedorForm">
      <form
        action="/products/create"
        method="post"
        enctype="multipart/form-data"
      >
        <h4>Carga de productos</h4>
        <label for="producto">Nombre del producto</label>
        <input
          class="w-100"
          type="text"
          placeholder="Nombre del producto"
          name="nombre"
          id="nomb"
        />

        <label for="imagen">Suba una imagen</label>
        <input
          class="w-100"
          type="file"
          placeholder="Imagen"
          name="imagen"
          id="imagen"
          accept="imagen/png,imagen/jpeg"
        />

        <label for="marca">Marca</label>
        <input
          class="w-100"
          type="text"
          placeholder="marca"
          name="marca"
          id="catg"
        />
        <label for="precio">Stock</label>
        <input class="w-100" type="text" name="Stock" id="Stock" />

        <label for="precio">Precio</label>
        <input
          class="w-100"
          type="text"
          placeholder="precio"
          name="precio"
          id="precio"
        />
        <label for="descripci贸n">Descrpci贸n</label>
        <input
          class="w-100"
          type="text"
          placeholder="Descripci贸n"
          name="descripci贸n"
          id="desc"
        />
        <button type="submit">Borrar</button>
        <button type="submit">Cargar</button>
      </form>
    </section>
    <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
