<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Argon - Detalle del Producto</title>

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>

<body class="font-gnr">
  <header class="font-gnr">
    <nav >
       
      <div class="nav">
               
        <ul>
           <li><i class="fa-sharp fa-solid fa-truck-fast color-g  pd-5"></i>Seguir mi pedido UPS</li>
           <li><i class="fa-solid fa-file-lines color-g  pd-5"></i>Subir comprobantes</li>
           <li><i class="fa-solid fa-file-lines color-g  pd-5"></i>RMA Garantia</li>
           <li><i class="fa-regular fa-circle-question color-g  pd-5"></i>Ayuda</li>
          </ul>
     
     
         </nav> 
    
      <div class="buscador">
      
        <form action="/">
          
           <input class="barra-buscar"
            type="text"
            name="search"
            placeholder="Buscá productos por nombre, marcas o palabras clave"
          />
          <button type="submit" class="button-glass" >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
            <div class="icon-header">
<i class="fa-regular fa-circle-user  usuario"></i>
<p class="usuario-p">Usuario</p>
<i class="fa-solid fa-cart-shopping cart-shop"></i>
            </div>     
          
        </div>   
          </div>
       
    </header>
    <main>
      <h1 class="titulo">Auricular Logitech G332 Gaming</h1>
    
    <main>
      <div class="container">
      <div class="img">
        <img
          src="/img/Auriculares-logitech.jpg"
          alt="imagen-producto"
          class="imagen-producto"
        />
      </div>
      <div class="detalle-venta">
        
        
          <h3 class="precio-anterior">$12.931</h3>
          <h2 class="precio-principal">$ 11.573</h2>
          <h6>Precio Especial</h6>
          <h4 class="precio-lista">PRECIO LISTA:$16.434,28</h4>
          <p class="cuotas">
            12 cuotas sin interes de $1369,52 a precio de lista
          </p>
          <a href="#">ver cuotas</a>

          <h4 class="stock-web">
            <i class="fa-regular fa-circle-check"></i> Stock Alto en la web
          </h4>
          <p class="ph4">Solo para ventas web</p>

          <p class="envios">
            <i class="fa-solid fa-truck-fast"></i>Envios a todo el pais
          </p>
          <h4 class="garantia"><i class="fa-solid fa-shield"></i>Garantia</h4>
          <p class="garantia-dias">180 Dias</p>
          <div class="number-b">
          <input type="number" id="tentacles" name="tentacles"
       min="1" max="100" class="button-number">
         </div>
          <button type="submit" class="button">Agregar al Carrito</button>
      </div>
    <h2 class="titulo-esp">Especificacion del producto</h2>
    
      <div class="General-producto text-right">
        <h4>General</h4>
        <p>Altura del producto ..... 172Mm</p>
        <p>Ancho del producto ..... 81.7Mm</p>
        <p>Profundidad del producto .....182Mm</p>
        <p>Peso total .....280G</p>
      </div>
      <div class="conectividad-producto">
        <h4>Conectividad</h4>
        <p>Tipo de conexion ..... Cableado</p>
        <p>Largo de cable ..... 2M</p>
        <p>Tipo de conector ..... 3.5Mm</p>
      </div>
      <div class="audio-producto">
        <h4>Audio</h4>
        <p>Tipo ..... Envolvente</p>
        <p>Canales ......7.1</p>
        <p>Tamaño del driver ..... 50mm</p>
        <p>Microfono ........Si</p>
        <p>Frecuencia de respuesta ..... 20Hz 20 kHz</p>
      </div>
      <div class="compatibilidad-producto">
        <h4>Compatibilidad</h4>
        <p>
          Tipos De Dispositivos ..... PC, Laptop, Nintendo Switch,Playstation
          4, Xbox One, Tablet, Dispositivo Movil
        </p>
        <p>
          Plataformas De Software Compatibles ..... Windows 7 O Superior, Mac,
          Nintendo Switch, Play Station, Xbox
        </p>
      </div>
    </div>
  </section>
    </main>
    <footer></footer>
  </body>
</html>
