*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}

.bg-grey{
    background-color: black;
    width: 100%;
    padding: 90px;
}

.buscador{
    display: flex;
    position: absolute;
    background-color: rgba(0, 55, 255, 0.596);
    width: 500px;
    left: 35%;
    top: 3%;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px;
    box-shadow: 2px 2px 5px  rgba(99, 128, 231, 0.712);
    align-items: center;
    justify-content: center;
}

.barra{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.icon{
    background:none;
    border: none;
    color: white;
    font-size: 20px;
}
.titulo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 20px;
    text-align: center;
}
.titulo-pedido{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 50px;
    text-align: center;
}
.detalle-producto{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    box-shadow: 3px 3px 5px rgba(2, 255, 2, 0.527);
    position: absolute;
    left: 10px ;
    top: 250px;
    height: 60%;
    width: 65%;
    border: solid 1px;
    margin: 50px;
    padding: 50px;
}

.img-monitor{
    position:relative ;
    z-index: 5;
    left: -40px;
    width: 20%;
    padding: 5px;
}
.descripcion-img{
    position: relative;
    left: 130px;
    top: -50px;
    color: black;
}

.p-img{
    position: relative;
    left: 600px;
    top: -80px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.cantidad{
    display: flex;
    position: relative;
    right: -480px;
    bottom: 135px;
    align-items: center;
    justify-content: center;
}
.cantidad button{
    position: relative;
    width: 5%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: black;
    background-color: rgba(27, 36, 43, 0.792);
}

.cantidad input{
    position: relative;
    width: 30px;
    height: 30px;
}
.tacho{
    position: relative;
    left: 870px;
    bottom: 105px;
}
.img-auriculares{
    position:relative ;
    z-index: 5;
    left: -40px;
    width: 25%;
    padding: 5px;
}
.descripcion-img-2{
    position: relative;
    left: 140px;
    top: -90px;
    color: black;
}
.cantidad-2{
    display: flex;
    position: relative;
    right: -600px;
    bottom: 140px;
    align-items: center;
    justify-content: center;
}
.cantidad-2 button{
    position: relative;
    width: 8%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: black;
    background-color: rgba(27, 36, 43, 0.792);
}
.cantidad-2 input{
    position: relative;
    width: 30px;
    height: 30px;
}
.tacho-2{
    position: relative;
    left: 870px;
    bottom: 165px;
}
.p-img-2{
    position: relative;
    left: 600px;
    top: -110px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.resumen-pedido{
    position: absolute;
    right: 10px;
    top: 250px;
    width: 25%;
    border: solid 1px;
    margin: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(2, 255, 2, 0.527);
}
.descuento{
    font-size: 16px;
}

.descuento-input{
    border: solid 1px;
    border-radius: 4px;
    width: 90%;
    padding: 5px;
    margin-top: 10px;
}
.button-descuento{
    position: relative;
    color:white;
    background-color: rgb(118, 118, 241);
    padding: 5px;
    left: 255px;
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
}
.button-descuento:hover{
    background-color: blue;
    box-shadow: 0px 0px 5px black;
}
.p-resumen{
    position: relative;
    left: 260px;
    bottom: 20px;
    font-size: 18px;
}
.button-eliminar{
    position: relative;
    left: 1280px;
    top:365px;
    background-color: rgba(248, 76, 76, 0.908);
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.button-eliminar:hover{
    background-color:red;
    box-shadow: 0px 0px 5px white;
}
.button-continuar{
    position: relative;
    left: 1300px;
    top:360px;
    background-color: rgb(118, 118, 241);
    padding: 15px;
    border: none;
    color:white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}
.button-continuar:hover{
    background-color: blue;
    box-shadow: 0px 0px 5px white;
}