* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 20px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  padding: 10px;
}

.color-g {
  color: #39ff14;
}
.pd-5 {
  padding: 5px;
}
.buscador {
  display: flex;
  padding: 30px;
  justify-content: flex-end;
}
.barra-buscar {
  padding: 10px;
  width: 500px;
  border-radius: 5px;
}
.button-glass {
  padding: 10px;
  background-color: #39ff14;
  margin-right: 25px;
  border-radius: 5px;
}

.titulo {
  margin-right: 20px;
  margin-top: 2px;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: solid gray 1px;
  color: white;

  justify-content: space-between;
}

.imagen-producto {
  margin-top: 30px;
  width: 190%;
  margin-bottom: 2px;
  padding-left: 45px;
}

.img-superior {
  width: 25%;
  margin-top: 1px;
}
h1 {
  color: white;
  width: 100%;
}
.detalle-venta {
  margin-top: 30px;
  width: 20%;
  text-align: center;
  margin-right: 120px;
}

.precio-principal {
  color: rgb(23, 55, 201);
  font-size: 35px;
  text-align: center;
}
.precio-anterior {
  text-decoration: line-through;
  text-align: center;
  color: gray;
}
.precio-lista {
  padding-top: 5px;
  padding-bottom: 10px;
}
.cuotas {
  border-top: 1px solid gray;
  padding-top: 15px;
  color: gray;
}
.stock-web {
  color: rgb(8, 245, 8);
  padding: 5px;
  font-size: 20px;
}
.fa-circle-check {
  padding-left: 5px;
  width: 30px;
}
.stock-presencial {
  color: rgb(208, 226, 44);
  padding: 5px;
  font-size: 20px;
  border-top: solid 1px gray;
}
.retiro {
  color: rgb(233, 14, 135);
  font-size: 20px;
  border-bottom: solid 1px gray;
}
.envios {
  color: rgb(8, 245, 8);
  padding: 5px;
  font-size: 20px;
  border-top: solid 1px gray;
}
.fa-house-circle-check {
  padding: 5px;
}
.fa-truck-fast {
  padding: 5px;
}
.garantia {
  padding: 5px;
  font-size: 20px;
  border-top: solid 1px rgb(110, 109, 110);
  color: white;
}
.garantia-dias {
  color: white;
  text-align: center;
}

.fa-shield {
  padding-right: 20px;
  color: blue;
  padding: 5px;
}
.description {
  font-size: 25px;
  color: white;
  background-color: aqua;
  width: 20%;
}
.button {
  margin-left: 35px;
  background-color: rgb(2, 64, 145);
  padding: 10px;
  color: white;
  margin-top: 10px;
}
.descripcion-producto {
  display: flex;
  color: white;
  justify-content: space-between;
  border: solid 2px green;
}
h4 {
  font-size: 20px;
  color: green;
}
.titulo-esp {
  width: 100%;
  color: #39ff14;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  border-top: 1px solid gray;
}
.General-producto {
  width: 25%;
}
.conectividad-producto {
  width: 25%;
}
.audio-producto {
  width: 25%;
}
.compatibilidad-producto {
  width: 25%;
}
.button-number {
  margin-left: 35px;
  width: 40%;
  margin-top: 10px;
  padding: 5px;
}

li {
  color: white;
}
.usuario {
  color: rgb(120, 247, 16);
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
}
.usuario-p {
  color: white;
  margin-top: 10px;
}
.cart-shop {
  color: rgb(120, 247, 16);
  font-size: 25px;
  margin-top: 5px;
  margin-left: 10px;
}
.icon-header {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
