/*colores*/
:root {
  --white: #ffffff;
  --very-dark-gray: #0f0f0f;
  --very-light-gray: #f0f0f089;
  --strong-pink: #c82775de;
  --bright-pink: #e02c83;
  --very-soft-lime-green: #98ec9b;
  --vivid-magenta: #ff0cd6;
  --magenta: #f0f;
  --vivid-pink: #e91e63;
  --cyan: #0ff;
  --mostly-black: #1b1c20;
  --bright-pink-deg: #e02c837b;
}

.body {
  background-color: var(--very-dark-gray);
  color: white;
  width: 80%;
  text-align: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: var(--very-dark-gray);
  width: 100%;
}

/*=====================HOME=====================*/
.home{
  width: 100vw;
  height: 100vh;
}

.home h1{
  text-shadow: 0px 0px 15px var(--bright-pink);
  color: rgb(237, 232, 232);
}
.tittle{
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 3rem;
}

/*=====================MENU=====================*/
.menu {
  width: 15%;
  text-align: center;
  justify-content: center;
  position: sticky;
  top: 0;
  max-height: 101vh;
  border: 2px solid var(--bright-pink);
  background-color: var(--very-dark-gray);
  border-radius: 0.5rem;
  margin: 1rem;
}
.menu img {
  width: 200px;
  height: 200px;
  margin: 1rem;
}

.opciones {
  margin-top: 3rem;
}

.opciones ul li {
  background-color: var(--very-dark-gray);
  padding: 1rem 0.5rem;
  color: var(--bright-pink);
  margin: 10px;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.opciones ul li:hover {
  background-color: var(--mostly-black);
}

/*=====================PRODUCTS=====================*/
.products {
  display: flex;
  flex-direction: row;
}
.productsBrandsTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainProducts {
  display: flex;
  flex-direction: row;
}
.headerProducts {
  width: 100%;
  background-color: var(--very-dark-gray);
  padding: 1rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 1rem;
  text-shadow: 0px 0px 15px var(--bright-pink);
  color: rgb(237, 232, 232);
}
.totalProducts {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 0 0 1rem 1rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

.totalBrands {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 0 0 1rem 1rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

.infoProducts {
  display: flex;
  font-size: 1.2rem;
}

.infoProducts ul{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .5rem;
  align-items: center;
  height: 100%; 
  margin-left: 7rem;
}

.productsTable {
  border: solid 1px rgba(224, 54, 156, 0.627);
  font-size: 1.2rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 2rem;
  table-layout: auto;
  width: 81%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.BrandsList {
  width: 18%;
  table-layout: auto;
  border: solid 1px rgba(224, 54, 156, 0.627);
  font-size: 1.2rem;
  border-collapse: collapse;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
} 



caption{
  font-size: 2rem;
}

.lastProduct {
  display: flex;
  width: 80%;
  background-color: var(--very-dark-gray);
  padding: 1rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 0 0 1rem 1rem;
}
.lastProduct img {
  border: var(--bright-pink) 2px solid;
  padding: 0.7rem;
  border-radius: 2rem;
}

td .desc {
  white-space: nowrap;
}
/*=====================USERS=====================*/
.users {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
}
.headerUsers {
  width: 100%;
  background-color: var(--very-dark-gray);
  padding: 1rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 1rem;
  text-shadow: 0px 0px 15px var(--bright-pink);
  color: rgb(237, 232, 232);
}
.totalUsers {
  display:flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
  font-size: 2rem;
}
.mainUsers {
  display: flex;
  flex-direction: row;
}
.userTable {
  table-layout: auto;
  border: solid 1px rgba(224, 54, 156, 0.627);
  font-size: 1.2rem;
  width: 80%;
  border-collapse: collapse;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

thead {
  background-color: rgba(224, 54, 156, 0.627);
  border-bottom: var(--white) 2px solid;
}

th {
  padding: 0.2rem 0.1rem;
}

td {
  padding: 0.5rem 0.5rem;
}

td .email {
  white-space: nowrap;
}
tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgba(224, 54, 156, 0.627);
}
tbody td:hover {
  background-color: rgba(224, 54, 156, 0.627);
}

.totalUsers {
  background-color: var(--very-dark-gray);
  padding: 1rem;
  border: var(--bright-pink) 2px solid;
  width: 20%;
  height: 100%;
  border-radius: 2rem;
  margin: 1rem;
}

.lastUser {
  display: flex;
  width: 60%;
  background-color: var(--very-dark-gray);
  padding: 1rem;
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 0 0 1rem 1rem;
}
.lastUser img {
  border: var(--bright-pink) 2px solid;
  border-radius: 2rem;
  margin: 1rem;
}
.infoUser{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}
.infoUser ul  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 1rem;
}
