@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;400&display=swap');

@media (min-width: 481px ) {
  /* tablet */

}

@media (min-width: 769px) and (max-width: 1280px) {
  /* notebook */

}

@media (min-width: 1281px) {
  /* Pc escritorio*/
 
}

/*Tipografía general: open sans , variable: Light 300*/
.font-gnr{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*Tipografía titulos*/
.font-ti{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/*Colores: 
Magenta #ec268f
negro   #000000
blanco  #ffffff
*/


/*General*/
*{
    padding: 0;
    margin: 0;
}

/*Width*/
.vw-100 {
    width: 100vw; }
  
  .w-100 {
    width: 100%; }
  
  .w-90 {
    width: 90%; }
  
  .w-50 {
    width: 50%; }
  
/*Height*/
  .vh-100 {
    height: 100vh; }
  
  .h-100 {
    height: 100%; }
  

  /*Text*/
  .text-center {
    text-align: center; }
  
  .text-left {
    text-align: left; }
  
  .text-right {
    text-align: right; }
  

/*Body*/
body{

}

/*Header*/

header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

/*Footer*/

footer{

}


/*Fin estructura basica-----------------------------------------------------------------*/

/*Fondo*/
.bg-black{
    background-color: #000000;
}

/*Logo*/
.contenedorLogo{
    width: 8rem;
    height: 100%;
}
.contenedorLogo img{
    width: 100%;
    height: 100%;
}


/*Menú*/
.contenedorMenu{
    width: 2.3rem;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 1rem;
    transition: .3s;
    position: relative;
}

/*Desplegable*/
.span{
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: 0px;
    transition: .5s;
}
.active .linea1{
    transform: rotate(45deg);
}
.active .linea2{
    transform: translateX(-2rem);
    opacity: 0;
}
.active .linea3{
    transform: rotate(-45deg);
}
.menuDesplegado{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 85vh;
    transform: translateX(-100%);
    transition: .3s;
    position: absolute;
    z-index: 10;
}
.desplegado{
    transform: translateX(0);
}
.contendorBuscador{
    width: 100%;
    height: max-content;
    margin: 1rem;
}
.contendorBuscador img{
    width: 1.4rem;
    height: 1.4rem;
}
.contendorBuscador input{
    border: 1px solid black;
    border-radius: .5rem;
}
.contendorBuscador input::placeholder{
    text-align: center;
}
.contenedorLinks{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2.8rem;
}

.contenedorLinks a{
    text-decoration: none;
    color: black;
}
.contenedorSpan{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contenedorSpan span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: .1s;
    position: absolute;
    bottom: 40%;
    transform: translateX(-100%);
    opacity: 0;
}
.contenedorSpan:hover span{
    transform: translateX(0);
    opacity: 1;
}

/*Carrusel principal*/
.carrusel{
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.carousel{
    width: 100%;
    height: 100%;
}

/*opciones hogar, trabajo, gamer*/
#Opciones{
    width: 100%;
    height: max-content;
}
.contenedorOpciones{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.caja{
    width: 20rem;
    height: max-content;
    background-color: red;
    margin: 2rem;
    position: relative;
    overflow: hidden;
}
.hoverCaja{
    transform: translateX(-100%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.42);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
}
.caja:hover .hoverCaja{
    transform: translateX(0);
}
.hoverCaja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hoverCaja p{
    text-align: center;
    width: 70%;
    color: white;
}
.hoverCaja a{
    text-decoration: none;
    color: wheat;
}
.caja img{
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------------------------------Home-------------------------------------------------*/