<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Carrito</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <div class="titulo">
      <h2>Carrito de Compras</h2>
    </div>
    <div class="contenedor-carrito">
      <div class="detalle-producto">
        <section class="producto">
          <img
            class="img-monitor"
            src="img/products/tecno-monitor-LCD.jpg"
            alt="monitor"
          />
          <h3 class="descripcion-img">
            MONITOR ACER LED 21.5'' <br />
            K222HQL BD DVI+A2
          </h3>
          <p class="descripcion-img">$24600</p>
          <section class="cantidad">
            <button type="button">-</button>
            <input min="1" max="10" type="text" class="cantidadCarrito" />
            <button type="button">+</button>
          </section>
          <img src="img/sitio/eliminar.png" class="tacho" width="20px" />
        </section>
        <section class="producto">
          <img
            src="img/products/auriculareshyperx.jpeg"
            class="img-auriculares"
            alt=""
          />
          <h3 class="descripcion-img">
            AURICULAR HYPERX CLOUD <br />
            STINGER CORE / DTS <br />
            X - NEGRO Y ROJO
          </h3>
          <p class="descripcion-img">$9800</p>
          <section class="cantidad">
            <button type="button">-</button>
            <input min="1" max="10" type="text" class="cantidadCarrito" />
            <button type="button">+</button>
          </section>
          <img src="img/sitio/eliminar.png" class="tacho" width="20px" />
        </section>
      </div>
      <div class="resumen-pedido">
        <section class="contenedor-pedido">
          <h2 class="titulo-pedido">Resumen De Pedido:</h2>
          <h4 class="descuento">Desea aplicar un descuento?</h4>
          <input
            type="text"
            class="descuento-input"
            placeholder="CODIGO DE DESCUENTO"
          />
          <button class="button-descuento">APLICAR</button>
          <h4 class="descuento">SUBTOTAL: ............... $34400</h4>
          <!--<p class="p-resumen">$34400</p>-->
          <hr />
          <br />
          <h2 class="descuento">TOTAL: .................. $34400</h2>
          <!--<p class="p-resumen">$34400</p>-->
        </section>
        <section class="botones">
          <button class="button-eliminar">
            <ion-icon name="trash-outline" class="icon"></ion-icon>
          </button>
          <button class="button-continuar">CONTINUAR</button>
        </section>
      </div>
    </div>
    <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
