<footer class="footer">
    <div class="footer__container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Tech Argon</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Políticas privadas</a></li>
                    </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Compras</a></li>
                    <li><a href="#">Consultas</a></li>
                    <li><a href="#">Seguir el pedido</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>¡Contactanos!</h4>
                <ul>
                    <li><a href="https://wa.me/543364634566?text=Hola,%20estoy%20in%20interesado%20en%20un%20producto" target="about_blank">Whatsapp: +54 11 2358-5522</a></li>
                    <li><a href="#">argontech@hardware.com.ar</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>¡Siguenos!</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100092164172149"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/spotify"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/hardwareargon/"><i class="fab fa-instagram"></i></a>
                    <a href="https://es.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>