<div id="page">
  <!-- seccion contactos -->
  <div class="block-media block-media__modifir">
    <div class="block-media__Vtelefonica block-media__social-modify"></div>
    <div class="block-media__social"></div>
  </div>
  <!-- seccion de encabezado -->
  <header class="header">
    <div class="header-width">
      <div class="headerLogo-Menu">
        <div class="header__menu">
          <span class="header__menu-span linea1"></span>
          <span class="header__menu-span linea2"></span>
          <span class="header__menu-span linea3"></span>
        </div>
        <a href="/" class="header__logo">TECH ARGON</a>
      </div>
      <form action="/products/filter" method="GET">
        <input
          type="text"
          placeholder="Busca productos, marcas y más..."
          name="nombreProducto"
        />
        <button class="btn-search">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="header__interactivo">
        <% if (locals.isLogged) { %>
        <a
          class="nav-link dropdown-toggle"
          id="dropUser"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="<%= locals.userLogged.avatar %>"
            width="40"
            style="border-radius: 100%"
          />
          <%= locals.userLogged.nombre %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/profile">Mi Perfil</a>
          <li><hr class="dropdown-divider" /></li>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </ul>

        <% } else { %>
        <a href="/users/carrito"><i class="fa-solid fa-cart-shopping"></i></a>s
        <a href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
        <% } %>
      </div>
    </div>
    <div class="header__shadow"></div>
  </header>
  <!-- menu -->
  <div class="openMenu">
    <nav class="openMenu-nav">
      <ul class="openMenu-ul">
        <li class="openMenu-li" id="menuOpen-search">
          <input type="text" class="menuOpen-search" placeholder="Buscar..." />
        </li>
        <li class="openMenu-li">
          <a href="/" class="openMenu-links">Inicio</a>
        </li>
        <li class="openMenu-li">
          <a href="/products/create" class="openMenu-links"
            >¡Carga tus productos!</a
          >
        </li>
        <li class="openMenu-li">
          <a href="/products/allproducts" class="openMenu-links"
            >¡Mira nuestros productos!</a
          >
        </li>
        <li class="openMenu-li">
          <a href="/users/login" class="openMenu-links">Iniciar sesión</a>
        </li>
        <li class="openMenu-li">
          <a href="/users/register" class="openMenu-links">Registrarse</a>
        </li>
        <hr />
        <li class="openMenu-li">
          <a href="/users/logout" class="openMenu-links">Cerrar sesión</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
