<section class="footer-container">
    <form action="">
        <input type="text" placeholder="¡Ingresa tu e-mail!">
    </form>

    <div class="destacado">
        <ul>
            <li class="font-ti">Destacado</li>
            <a href="#" class="enlaces"><li>Lo más vendido</li></a>
            <a href="#" class="enlaces"><li>Ofertas</li></a>
        </ul>
    </div>

    <div class="sobreNos">
        
        <ul>
            <li class="font-ti">Sobre nosotros</li>
            <a href="#" class="enlaces"><li>¿Quiénes somos?</li></a>
            <a href="#" class="enlaces"><li>Nuestras políticas</li></a>
        </ul>
    </div>

    <div class="soporte">
        
        <ul>
            <li class="font-ti">Soporte</li>
            <a href="#" class="enlaces"><li>Preguntas frecuentes</li></a>
            <a href="#" class="enlaces"><li>Contactanos</li></a>
        </ul>
    </div>


</section>