<!--Ingreso e-mail --->
<div class="contenedorFooter h-max w-100">
    <form action="" class="footerForm w-90">
     <div class="contenedorEmail w-100 h-100">
       <input type="text" placeholder="Ingresa tu e-mail" class="w-100 h-100"> 
       <button>¡Suscribete ahora!</button> 
     </div>
 </form>

 <div class="contenedorInfoF w-100 h-max">
     <div class="info w-100 h-max">
         <h4>Destacado</h4>
         <a href="#" class="enlaces">Lo más vendido</a>
         <a href="#" class="enlaces">Ofertas</a>
     </div>
     <div class="info w-100 h-max">
         <h4>Sobre nosotros</h4>
         <a href="#" class="enlaces">¿Quiénes somos?</a>
         <a href="#" class="enlaces">Nuestras políticas</a>
     </div>
     <div class="info w-100 h-max">
         <h4>Soporte</h4>
         <a href="#" class="enlaces">Preguntas frecuentes</a>
         <a href="#" class="enlaces">Contactanos</a>
     </div>
 </div> 
 </div>
