<div id="page">
  <!-- seccion contactos -->
  <div class="block-media block-media__modifir">
    <div class="block-media__Vtelefonica block-media__social-modify"></div>
    <div class="block-media__social">
      <a href="" class="block-media__links block-media__social-modify"
        >CONOCENOS</a
      >
      <a href="" class="block-media__links block-media__social-modify"
        >DESTACADO</a
      >
      <a href="" class="block-media__links block-media__social-modify"
        >CONTACTOS</a
      >
    </div>
  </div>
  <!-- seccion de encabezado -->
  <header class="header">
    <div class="header-width">
      <a href="" class="header__logo">TECH ARGON</a>
    </div>
    <div class="header-search">
        <input type="text" placeholder="search..." />
     </div>
    <div class="header__interactivo"></div>
    <div class="header__shadow"></div>
  </header>

  <!-- Menú desplegable -->
  <div class="openMenu">
    <nav class="openMenu-nav">
      <ul class="openMenu-ul">
        <div class="header-search header-search-modifyr">
          <input type="text" placeholder="search..." />
        </div>
        <li class="openMenu-li"><a href="" class="openMenu-links">HOME</a></li>
        <li class="openMenu-li">
          <a href="" class="openMenu-links">CARRITO</a>
        </li>
        <li class="openMenu-li"><a href="" class="openMenu-links">AUTOS</a></li>
        <li class="openMenu-li">
          <a href="" class="openMenu-links">AVIONES</a>
        </li>
        <li class="openMenu-li">
          <a href="" class="openMenu-links">JUEGOS</a>
        </li>
        <hr />
        <li class="openMenu-li"><a href="" class="openMenu-links">exit</a></li>
      </ul>
    </nav>
  </div>
</div>
