<div id="page">
    <!-- seccion contactos -->
    <div class="block-media block-media__modifir">
        <div class="block-media__Vtelefonica block-media__social-modify">
            
        </div>
        <div class="block-media__social">
            <a href="" class="block-media__links block-media__social-modify">CONOCENOS</a>
            <a href="" class="block-media__links block-media__social-modify">DESTACADO</a>
            <a href="" class="block-media__links block-media__social-modify">CONTACTOS</a>
        </div>
    </div>
    <!-- seccion de encabezado -->
    <header class="header">
        <div class="header-width">
            <div class="headerLogo-Menu">

                <div class="header__menu">
                    <span class="header__menu-span linea1"></span>
                    <span class="header__menu-span linea2"></span>
                    <span class="header__menu-span linea3"></span>
                </div>
                <a href="/" class="header__logo">TECH ARGON</a>
            </div>
            <div class="header__interactivo">
               <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
               <a href=""><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
            <div class="header__shadow"></div>
        </div>
    </header>
    <!-- menu -->
    <div class="openMenu">
        <nav class="openMenu-nav">
            <ul class="openMenu-ul">
                <li class="openMenu-li"><input type="text" class="menuOpen-search" placeholder="Search"></li>
                <li class="openMenu-li"><a href="" class="openMenu-links">Inicio</a></li>
                <li class="openMenu-li"><a href="" class="openMenu-links">Arma tu pc</a></li>
                <li class="openMenu-li"><a href="" class="openMenu-links">Perifericos</a></li>
                <li class="openMenu-li"><a href="" class="openMenu-links">Conectividad</a></li>
                <li class="openMenu-li"><a href="" class="openMenu-links">Descuentos</a></li>
                <hr>
                <li class="openMenu-li"><a href="" class="openMenu-links">Cerrar sesión</a></li>
            </ul>
        </nav>
    </div>