
    <div class="contenedorLogo">
        <a href="/"><img src="/img/logo-argon.jpg" alt="logo"></a>
    </div>
    <div class="contenedorH1">
        <h1>
            Tech Argon
        </h1>
    </div>
    <div class="contenedorMenu">
        <span class="linea1 span"></span>
        <span class="linea2 span"></span>
        <span class="linea3 span"></span>
    </div>


