
    <div class="contendorBuscador">
        <img src="/img/busqueda.svg" alt="">
        <input type="text" placeholder="Search...">
    </div>
    <div class="contenedorLinks">
        <div class="contenedorSpan">
            <a href="/login">Login</a>
            <span></span>
        </div>
        <div class="contenedorSpan">
            <a href="/register">Registro</a>
            <span></span>
        </div>
        <div class="contenedorSpan">
            <a href="/carrito">Carrito</a>
            <span></span>
        </div>
        <div class="contenedorSpan">
            <a href="/carga">Carga</a>
            <span></span>
        </div>
        <div class="contenedorSpan">
            <a href="#">Arma tu PC</a>
            <span></span>
        </div>
    </div>
