<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de productos</title>
</head>
<body>
    <section class="container">
        <form action="" method="POST">
            <label for="producto">Nombre del producto</label>
            <input type="text" placeholder="Nombre del producto">

            <label for="descripción">Descrpción</label>
            <input type="text" placeholder="Descripción">

            <label for="imagen">Suba una imagen</label>
            <input type="file" placeholder="Imagen">

            <label for="categoria">Categoria</label>
            <input type="text" placeholder="Categoria">

            <label for="caracteristicas">características</label>
            <input type="text" placeholder="Colores, tamaños, talles, etc.">

            <label for="precio">Precio</label>
            <input type="text" placeholder="precio">
            <button>Borrar</button>
            <button>Cargar</button>
        </form>
    </section>
</body>
</html>