<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Home</title>
  </head>
  <body>
    <!--Include header-->
    <%- include('../partials/header') %>
    <p>Hola administrador</p>
    </body>