<!DOCTYPE html>
<html lang="en">
<head>
        <!--Include head-->
        <%- include('../partials/head') %> 
        <title>Argon | Carga</title>
</head>
<body>
    <header>
        <!--Include header-->
     <%- include('../partials/header') %>
     </header>
    <section class="contenedorForm">
        <form action="" method="POST" enctype="multipart/form-data" accept="imagen/*"></form>
        
            <h4>Carga de productos</h4>
            <label for="producto">Nombre del producto</label>
            <input class="w-100" type="text" placeholder="Nombre del producto" name="desc" id="nomb">

            <label  for="descripción">Descrpción</label>
            <input class="w-100" type="text" placeholder="Descripción" name="desc" id="desc">

            <label for="imagen">Suba una imagen</label>
            <input class="w-100" type="file" placeholder="Imagen" name="img" id="img">

            <label for="gama">Gama</label>
            <input class="w-100" type="text" placeholder="gama" name="gama" id="gama">

            <label for="ram">Memoria/s RAM</label>
            <input class="w-100" type="text" placeholder="DDR3, DDR4, DDR5..." name="ram" id="ram">

            <label for="slots">Slots</label>
            <input class="w-100" type="text" placeholder="2, 4..." name="slots" id="slots">
            
            <label for="sockets">Sockets</label>
            <input class="w-100" type="text" placeholder="1700, am4..." name="sockets" id="sockets">

            <label for="precio">Precio</label>
            <input class="w-100" type="text" placeholder="precio" name="precio" id="precio">
            <button>Vaciar</button>
            <button>Cargar</button>
        </form>
    </section>
    <footer>
            <!--Include Footer-->
    <%- include('../partials/footer') %> 
    </footer>
</body>
</html>