<!DOCTYPE html>
<html lang="en">
<head>
       <!--Include head-->
       <%- include('../partials/head') %> 
       <title>Argon | Login</title>
</head>
<body>
    <header>
        <!--Include header-->
     <%- include('../partials/header') %>
     </header>
        <!--Include menú-->
     <%- include('../partials/menu') %>

    <section id="productos">

        <div class="cajasProductos">
            <div class="contenedorInfo">
                <H3>LOGIN</H3>
                <form method="" action="">
                    <br>
                    Nick:<input type="text" name="nombre">
                    <br>
                    Contraseña:<input type="text" name="apellido">
                    <br>
                    <input type="submit" value="CREAR CUENTA">
                    <br>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <!--Include Footer-->
<%- include('../partials/footer') %> 
</footer>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>