<!DOCTYPE html>
<html lang="en">

<head>
  <!--Include head-->
  <%- include('../partials/head') %>
    <title>Argon | Register</title>
</head>

<header>
  <!--Include header-->
  <%- include('../partials/header') %>
</header>
<div class="menuDesplegado">
  <!--Include menu-->
</div>

<div class="pageProfile">

  <div class="infoProfile">
    <div class="profileIMG">
      
      <img src="<%= user.avatar %>" alt="" class="avatarIMG">
      <!--/img/users/1682198133444_img.png-->
    </div>
    <div class="userDetail">
      Correo
    </div>
    <div class="userDetail">
      Teléfono
    </div>
  </div>

    <div class="apartados">
      Correo: <%=user.correo %>
    </div>
    <div class="apartados">
      
    </div>
    <div class="apartados">
      Historial de compras
    </div>
    <div class="apartados">
      Seguridad
    </div>
    <div class="apartados">
      Privacidad
    </div>
</div>
</body>

</html>